@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    font-size: 10px;
    /* отступы по умолчанию задаем уточнить как правильно*/
    padding-inline-start: 0; 
    margin-block-start: 0;
    margin-block-end: 0; 
}
body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
}
ul { padding-inline-start: 0; }   

header {
    position: sticky;
    top:0;
    background-color: #202846;
    height: 9rem;
    z-index: 1;
    display: flex;
    font-size: 2.4rem;
    font-weight: 700 ;
    font-family: 'PT Sans'
   
}
.header_img {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1rem 0rem 1rem 10rem;
}
   
header div.menu_аrea li {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8.5rem;
}
.menu {
    padding-left: 30rem;
}
    
a {
    text-decoration: none;
}
/* задаем цвета ссылкам */
a[href*="#"]:link {
    color: #FFFFFF;
}
a[href*="#"]:visited {
    color: #FFFFFF;
}
a[href*="#"]:hover {
    color: #AEAEE2;
}

.menu_аrea ul {
    margin: 1.5rem auto;
   }
header div.menu li {
    list-style: none;
    float: left;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8.5rem;
    padding-top: 1rem;
    }
.foto_img {
    padding-left: 12rem;
    padding-top: 1.5rem;
}
header div.menu_language li {
    list-style: none;
    float: left;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 1rem;
    
}
div.menu_аrea ul:hover{
    color: #AEAEE2;
}

.h1 {
    background-color: #C6C6DC;
    height: 14rem;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 4.8rem;
    display: flex;
    align-items: center;
    padding-left: 23rem;
    color: #202846;
}


.build{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
}
.place{
    height: 7.3rem;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8E8E8;
    margin-top: 6rem;
    margin-bottom: 6rem;
    position: relative
}
.place_img{
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 4rem;
}
.card:hover{
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px #AEAEE2 ;
    transition-duration: 0.5ms;
}


.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}
.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description{
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
}

.card-star, .card-btn{
    position:absolute;
}
/* стили для звездочки */
.card-star{
    fill: white;
    right: 1rem;
    top: 1rem
   
}
.card:hover>.card__content>.card-star{
    fill: yellow;
    transition-duration: 0.5ms;
}

.card-btn{
    bottom: 0;
    right: -40px;
    width: 200px;
    bottom: 5px; ;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
}
.card:hover>.card__content>.card-btn{
    background-color:#EF075B ;
    transition-duration: 0.5ms;
}

.h1_area{
    background-color: #C6C6DC;
    height: 14rem;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 4.8rem;
    display: flex;
    align-items: center;
    padding-left: 23rem;
    margin-top: 27rem;
    color: #202846;

}
.p_area{
    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;
}
.p_area-card{
   background-color: #BDBDC6;
   height: 50rem;
   display: flex;
      
}
.p_area-content{
    font-style: italic;
    font-weight: 400;
    font-size: 3.6rem;
    width: 60%;
    padding-left: 10rem;
    padding-top: 4rem;  
}
.p_area-img{
    padding-left: 10rem;
    padding-top: 8rem;
    position: relative;
}

div.p_area-content li {
    list-style: none;
    padding-top: 2rem;
    border-bottom:#FFFFFF .3rem solid ;
    color:#353C57 ;
}
/* убираю подчеркивание в части списка */
#no_border{
    border-bottom: none;
}
span{
    font-weight: 700;
}
a[href*="tel"]:link 
{  color:#353C57}
[href*="mailto"]:link 
{  color:#353C57}
.p_area-btn{
    width: 250px;
    background-color: #484A54;
    border-radius: 50px;
    font-size: 2.4rem;
    position: absolute;
    text-align: center;
    left: 6rem;
    bottom: 15rem;
    padding: 1rem 0;
}
.p_area-btn1{
    width: 250px;
    background-color: #484A54;
    border-radius: 50px;
    font-size: 2.4rem;
    position: absolute;
    left: 6rem;
    bottom: 8rem;
    text-align: center;
    padding: 1rem 0;
}
.p_area-btn2{
    width: 200px;
    background-color: #202846;
    border-radius: 50px;
    font-size: 2.4rem;
    text-align: center;
    padding: 1rem 0;
    
    
}
.pl_area-btn2{
    display: flex;
    justify-content: center;
    margin-top: 4.2rem;
}
.contacts{
    display: flex;
    justify-content: center;
    margin-top: 6rem;}

    

.contacts_title{
    font-size: 3.2rem; 
    width: 14%;
    position: relative;
    padding: 0 7rem;
    text-align: left;
    padding-left: 1rem;
    
    }
.contacts_title-content{
    font-size: 3rem;
    padding-top: 1rem;
    text-align: left;
    border-top: #202846 solid 3px;
}
div.contacts_title-content li {
    list-style: none;
    
}
div.contacts_title-content ul{
    margin: 0 auto;
}
a[href*="+38(097)119-89-83"]:link 
{  color:#000000}
[href*="hello@gmail.com"]:link 
{  color:#000000}

.map{
    display: flex;
    margin-top: 7rem;
    margin-left:  40rem;
    margin-bottom: 7rem;
}   
.contacts_title-map{
    font-size: 3.2rem; 
    width: 22%;
    position: relative;
    padding: 0 7rem;
    text-align: left;
  }
.contacts_title-content-map{
    font-size: 3rem;
    padding-top: 1rem;
    text-align: left;
    border-top: #202846 solid 3px;
}
.map_map{
    padding-left: 14rem;
    border-radius: 50px;
}
.button_top{
   
    position: fixed;
    bottom: 10rem;
    right: 5.5rem;
   
    
}
.h1_footer{
    height: 9rem;
    background-color: #202846;
    font-size: 3.6rem;
    padding-left: 15rem;
    color: white;
    font-style: italic;
    display: flex;
    align-items: center;
}

