@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
html{
    font-size: 10px;
    font-family: 'Space Grotesk'
}
body{
    margin: 0;
    background-color: #F5F5F5;
}
main{
    
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    display: flex;
    justify-content: center;
    
}
.card{
    display: flex;
    justify-content: center;
    width: 100rem;
    height: 100vh;
    padding-top: 11rem;
    
    
}
.input{
    box-sizing: border-box;
    width:60%;
    background-color: #FFFFFF;
    height:66%;
    
    }
    /* почему не работает box-sizing:border-box */

.input_header{
    width: 8.2rem;
    font-weight: 700;
    font-size: 2.4rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-left: 3.2rem;
    padding-top: 1.2rem; 
}
.input_title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #000000;
    text-align: center;
    padding-top: 6.8rem;
}
input{
    display: block;
    width: 35.3rem;
    height: 2.5rem;
}
label{
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
}
.input_input{
   padding-left: 9.9rem;
}
.input_notes{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #A8A8A8;
}
.location_span{
    font-weight: 400;
    font-size: 1.2rem;
    color: #A8A8A8;
}
.input_margin{
    padding-top: 1rem;
}
    
.input_btn{
    width: 35.3rem;
    height: 3.4rem;
    background-color: #27485D;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
}   
.button{
    padding-left: 9.9rem;
    margin-top: 8.4rem;
}
.button_notes{
    padding-left: 10rem;
    font-weight: 700;
    font-size: 1.6rem;
    color: #C4C4C4;
}
.login_color a{
    color: #476D73;
}
/* правая сторона */
.text{
    box-sizing: border-box;
    height: 66%;
    box-shadow: 0px 0px 10px 9px #4E7577;
    width: 40%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);}

    
.text_header{
    display: flex;
    justify-content: end;
    padding-top: .8rem;
    padding-right: 1.2rem;
}

.text_header a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;

}
.text_header-contact{
padding-left: 2.4rem;
}
.text_content{
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
    text-shadow:  2px 1px #93999d;;
   opacity: 0.8;
   padding-left: 6.2rem;
   padding-top: 20rem;
    
}
.text_sign{
    font-weight: 700;
    font-size: 1.6rem;
    color: white;
    opacity: 0.8;
    padding-left: 6.2rem;
}
@media screen and (max-width: 390px) {
    .text{
        display:none ;
    }
    main{
    
        display: flex;
        justify-content: center;
        background: #FFFFFF;
    }
    .card{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding-top: 0;
        width: 100%;
        
        
    }
    .input{
        box-sizing: border-box;
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        
        
        }
        /* почему не работает box-sizing:border-box */
   
    .input_header{
        width: 100%;
        height: 10%;
        font-weight: 700;
        font-size: 2.4rem;
        background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding-left: 0rem;
        padding-top: 0rem; 
    }
    .input_title{
        height: 10%;
        font-weight: 700;
        font-size: 2rem;
        line-height: 3.6rem;
        color: #000000;
        text-align: center;
        padding-top: 0;
    }
    input{
        display: block;
        width:100%;
        height: 2.5rem;
    }
    label{
        font-weight: 400;
        font-size: 1.6rem;
        color: #000000;
    }
    .input_input{
        height: 60%;
       padding-left: 0;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;

    }
    .input_notes{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        color: #A8A8A8;
    }
    .location_span{
        font-weight: 400;
        font-size: 1.2rem;
        color: #A8A8A8;
    }
    .input_margin{
        padding-top: 1rem;
    }
        
    .input_btn{
        width: 100%;
        height: 3.4rem;
        background-color: #27485D;
        border-radius: 4px;
        box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
        color: white;
        font-weight: 700;
        font-size: 1.6rem;
    }   
    .button{
        padding-left:0;
        margin-top: 8.4rem;
    }
    .button_notes{
        padding-left: 0;
        font-weight: 700;
        font-size: 1.6rem;
        color: #C4C4C4;
    }
    .login_color a{
        color: #476D73;
    }
}

