/* анимация при запуске страницы */
@keyframes start_gallery-img_one {
    from {
        transform: translateX(-100vh) ;
           
}
50% {
    transform: translateX(-100vh) ;

}
to {
    transform: translateX(0) ;
    
}
}
@keyframes start_gallery-img_four {
    from {
        transform: translateX(100vh) ;
           
}
50% {
    transform: translateX(100vh) ;

}
to {
    transform: translateX(0) ;
    
}
}
@keyframes start_gallery-img_two {
    from {
        transform: translateX(-100vh) ;
           
}
to {
    transform: translateX(0) ;
    
}
}
@keyframes start_gallery-img_three {
    from {
        transform: translateX(100vh) ;
           
}


to {
    transform: translateX(0) ;
    
}
}
/* анимация второго экрана */

@keyframes services_img-one {
    from, to {    
        top: 10%;
        left: 0;}
    25% {
        top: 10%;
        left: 50%;}
    50% {
        top: 60%;
        left: 50%;}
    75% {top: 60%;
        left: 0;}
}

@keyframes services_img-two {
    from, to {    
        top: 10%;
        left: 50%;}
    25% {
        top: 60%;
        left: 50%;}
    50% {
        top: 60%;
        left: 0;}
    75% {top: 10%;
        left: 0;}
}

@keyframes services_img-three {
    from, to {    
        top: 60%;
        left: 0;}
    25% {
        top: 10%;
        left: 0;}
    50% {
        top: 10%;
        left: 50%;}
    75% {top: 60%;
        left: 50%;}
}

@keyframes services_img-four {
    from, to {    
        top: 60%;
        left: 50%;}
    25% {
        top: 60%;
        left: 0;}
    50% {
        top: 10%;
        left: 0;}
    75% {top: 10%;
        left: 50%;} 
 }