@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&display=swap');
@import url(./animation.css);
:root{
    font-size: 10px;
    font-family: 'Rosario';
    font-weight: 700;
    --hight:100vh;
    
}
a {
    text-decoration: none;
    color: #FFFCFC;
    
}
ul { padding-inline-start: 0; }

body {
    margin: 0;padding: 0;
    background-color: #E5E5E5;
    
    
}
.main {
    max-width: 1620px;
    margin: 0 auto;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;  
    display: flex;
    font-style: italic;
    font-size: 3.0rem;
    justify-content:space-between ;
}
.header_logo{
    display: flex;
    background-color: white;
 }
.header_logo>img{
    height: 100%;
}
.menu{
    width: 65%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0;
    padding: 0; 
    padding-right: 1.6rem;
    list-style: none;
}

/* экран первый */
.gallery {
    background-color: white;
    display: flex;
    min-height: 90vh;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
.gallery-img-one, .gallery-img-four{
    width: 22%;
    display: flex;
    justify-content: center;
     
}
.gallery-img-two>div:first-child,
.gallery-img-three>div:first-child{
    margin-bottom: 4rem;
    
}
.gallery-img-two, .gallery-img-three{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-img-one>img, .gallery-img-two>div>img,.gallery-img-three>div>img, .gallery-img-four>img{
width: 100%;
 }

.gallery-img-one{
    transform: translateX(-100vh) ;
    animation: start_gallery-img_one 2s linear forwards;
    order: 1;
}
.gallery-img-two{
    transform: translateX(-100vh) ;
    animation: start_gallery-img_two 1s linear forwards;
    order: 2;
}

.gallery-img-three{
    transform: translateX(100vh) ;
    animation: start_gallery-img_three 1s linear forwards;
    order: 3;
}
.gallery-img-four{
    transform: translateX(100vh) ;
    animation: start_gallery-img_four 2s linear forwards;
    order: 4;
   
}
/* второй экран */
.services{
    background-color: white;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    overflow: hidden;
}

.services_img{
    display: flex;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
   }
.services_img>img{
    width: 100%;
}
.services_img-circle{
    width: 50%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    
    
}
.services_img-circle-one{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 10%;
    animation:services_img-one 10s linear infinite;
    
}
.services_img-circle-two{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 10%;
    animation:services_img-two 10s linear infinite;
    
}

.services_img-circle-tree{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 60%;
    animation:services_img-three 10s linear infinite;
    

}
.services_img-circle-four{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 60%;
    animation:services_img-four 10s linear infinite;
    

}
.services_img-circle-sign{
    display: flex;
    width: 100%;
    font-style: italic;
    font-size: 3.8rem;
    text-align: center;
    
        
}
.services_img-circle-one>img, .services_img-circle-two>img,
 .services_img-circle-tree>img, .services_img-circle-four>img {
    width: 100%;
}

/* третий экран */
.team{
    width: 100%;
    background-color: white;
    height: 90vh;
    overflow: hidden;
}
.team_header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.6rem;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

}
.team_img{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
        
    
}
.team_img-one, .team_img-two, .team_img-three, .team_img-four{
width: 18%;
position: relative;

}
.team_img-one>img, .team_img-two>img, .team_img-three>img, .team_img-four>img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.team_img-sign{
    width: 100%;
    background-color:rgba(163, 83, 10, 0.7);
    font-size: 4.8rem;
    height: 0;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius: 30px;
    color: #FFFAFA;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
     
}
.team_img:hover>div{
    filter: brightness(0.5);
} 
.team_img>div:hover{
    filter: none;
}

.team_img-one:hover .team_img-sign{
    height: 15.5rem;
    transition:  1s;
    
}
.team_img-two:hover>.team_img-sign{
    height: 15.5rem;
    transition:  1s;
}
.team_img-three:hover>.team_img-sign{
    height: 15.5rem;
    transition:  1s;
}
.team_img-four:hover>.team_img-sign{
    height: 15.5rem;
    transition:  1s;
}
/* четвертый экран */
.contact{
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.contact_left{
    width: 50%;
    height: 56vh;
    
    
}

.contact_map{
    width: 35%;
}
.map{
    height: 56vh;
    width: 100%;
}
.contact_left-header{
    font-style: italic;
    font-size: 5.4rem;
    text-align: center;
    width: 95%;
    overflow: hidden;
    height: 20vh;
    
}
.contact_input{
    background-color: #E5E5E5;
    width: 95%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    height: 36vh;
}
#name{
    height: 5vh;
    width: 39%;
    margin: 3%  0 0 3%;
    font-size: 3.6rem;
}
#email{
    height: 5vh;
    width: 49%;
    margin: 3% 3% 0 0;
    font-size: 3.6rem;
}
#message{
    height: 14vh;
    width: 94%;
    margin: 3%;
    font-size: 3.6rem; 
}

::placeholder{
    font-size: 3.6rem;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
}
footer{
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.footer_email{
    width: 33%;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    list-style: none;

}
.footer_hours{
    width: 28%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    list-style: none;
}
.footer_contact{
    width: 28%;
    font-size: 2rem;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    list-style: none;
    text-align: center;
   
}
a[href*="https://"]{
    color: black;
    
}
.email{
    font-style: normal;
    font-weight: 700;
}
.hours{
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
}
.contacts{
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
}

#cont{
    text-align: left;
    padding-left: 30%;
    
}
a[href*="mailto"]{
    color: black;
}
a[href*="tel"]{
    color: black;
}
/* медиазапросы */
@media screen and ( max-width: 992px)
{
    /* экран первый */
    .gallery {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        min-height: 90vh;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }
    .gallery-img-one, .gallery-img-four{
        width: 40%;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
         
    }
    .gallery-img-two>div:first-child,
    .gallery-img-three>div:first-child{
        margin-bottom: 4rem;
        
    }
    .gallery-img-two, .gallery-img-three{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gallery-img-one>img, .gallery-img-two>div>img,.gallery-img-three>div>img, .gallery-img-four>img{
    width: 100%;
     }
    
    .gallery-img-one{
        transform: translateX(-100vh) ;
        animation: start_gallery-img_one 1s linear forwards;
        order: 1;
    }
    .gallery-img-two{
        transform: translateX(-100vh) ;
        animation: start_gallery-img_two 1s linear forwards;
        order: 3;
    }
    
    .gallery-img-three{
        transform: translateX(100vh) ;
        animation: start_gallery-img_three 1s linear forwards;
        order: 4;
    }
    .gallery-img-four{
        transform: translateX(100vh) ;
        animation: start_gallery-img_four 1s linear forwards;
        order: 2;
       
    }
    /* второй экран */
.services{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    overflow: visible;
    
}

.services_img{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    order: 1;
    padding-top: 10%;
    
}
.services_img>img{
    width: 100%;
    
    
}
.services_img-circle{
    width: 90%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    order: 2;
    height: 100vh;
}
.services_img-circle-one{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    animation:services_img-one 10s linear infinite;
    
}
.services_img-circle-two{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 0;
    animation:services_img-two 10s linear infinite;
}

.services_img-circle-tree{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    animation:services_img-three 10s linear infinite;

}
.services_img-circle-four{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    animation:services_img-four 10s linear infinite;

}
.services_img-circle-sign{
    width: 100%;
    font-style: italic;
    font-size: 3.8rem;
    text-align: center;
        
}
.services_img-circle-one>img, .services_img-circle-two>img,
 .services_img-circle-tree>img, .services_img-circle-four>img {
    width: 100%;
}
/* третий экран */
.team{
    width: 100%;
    background-color: white;
    height: auto;
    overflow: hidden;
}
.team_header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    text-align: center;
    height: 20vh;
}
.team_img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
        
    
}
.team_img-one, .team_img-two, .team_img-three, .team_img-four{
width: 41%;
position: relative;
padding-top: 3%;
}
.team_img-one>img, .team_img-two>img, .team_img-three>img, .team_img-four>img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.team_img-sign{
    width: 100%;
    background-color:rgba(163, 83, 10, 0.7);
    font-size: 4.8rem;
    height: 0;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius: 40px;
    color: #FFFAFA;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
     
}
.team_img:hover>div{
    filter: brightness(0.5);
} 
.team_img>div:hover{
    filter: none;
}

.team_img-one:hover .team_img-sign{
    height: 15.5rem;
    transition:  1s;
    
}
.team_img-two:hover>.team_img-sign{
    height: 15.5rem;
    transition:  1s;
}
.team_img-three:hover>.team_img-sign{
    height: 15.5rem;
    transition:  1s;
}
.team_img-four:hover>.team_img-sign{
    height: 15.5rem;
    transition:  1s;
}
  /* четвертый экран   */
.contact{
    height: auto;
    flex-direction: column;
}
.contact_left{
    width: 90%;
    height: 56vh;
}
.contact_left-header{
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}
.contact_map{
    width: 90%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.contact_input{
    width: 100%; 
}
footer{
    display: none;
}
}
@media screen and ( max-width: 768px)
/* первый экран */
{
    .gallery-img-one, .gallery-img-four{
        width: 80%;
    }
    .gallery-img-two, .gallery-img-three{
        width: 80%;
    }
    .gallery-img-one{
        transform: translateX(-100vh) ;
        animation: start_gallery-img_one 1s linear forwards;
        order: 1;
    }
    .gallery-img-two{
        transform: none ;
        animation: none;
        margin-bottom: 4rem;
        order: 2;
    }
    
    .gallery-img-three{
        transform: none ;
        animation: none;
        order: 3;
    }
    .gallery-img-four{
        transform: translateX(100vh) ;
        animation: start_gallery-img_four 1s linear forwards;
        order: 4;
    }
    .gallery-img-two>div:first-child,
    .gallery-img-three>div:first-child {
        transform: translateX(100vh) ;
        animation: start_gallery-img_four 1s linear forwards;
    }
    .gallery-img-two>div:last-child,
    .gallery-img-three>div:last-child {
        transform: translateX(-100vh) ;
        animation: start_gallery-img_one 1s linear forwards;
    }
    /* второй экран */
    .services_img{
        display: none;
    }
    /* третий экран */
    .team_img-one, .team_img-two, .team_img-three, .team_img-four{
        width: 80%;
    }
    .team_img:hover>div{
        filter: none;
    }
    /* четвертый экран */
   
    .contact{
        flex-direction: column-reverse;
        padding-bottom: 10%;
    }
}