@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
:root{
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
}
body{
    margin: 0;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
/* фон под карточками */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:75.5rem;
    height: 45.5rem;
    background-color: #FFB084;
    border-radius: 20px;
    

}
section{
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:5%;
    column-gap:  3%;
    row-gap: 3%;
}
/* карточки пронумерованы сверху вниз */
.card{
    background-color: white;
    border-radius: 20px;
}
.one{
    grid-row: 1/11;
    box-shadow: 7px 7px 0px #000000;
}
.header{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-top: 5%;
}
.img{
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 7%;
    
}
.one ul{
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    padding-left: 12%;
}
.one ul li span{
    font-weight: 600;
    
}
.two {
    display: flex;
    grid-row: 11/13;
    box-shadow: 7px 7px 0px #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
}
.two div{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.three {
    grid-row: 1/4;
    grid-column: 2/4;
    box-shadow: 7px 7px 0px #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.three div:first-child{
    font-weight: 700;
    font-size: 1.4rem;
    text-align: left;
    width: 90%;
}
.three div:last-child{
    width: 90%;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.four{
    grid-row:4/7;
    box-shadow: 7px 7px 0px #29A71E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.four div{
    font-weight: 700;
    font-size: 1.4rem;
    color: #29A71E;
    width: 80%;    
}
.four ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.five{
    grid-row:7/13;
    box-shadow:  7px 7px 0px #3675B0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.five div{
    text-align: center;
    width: 80%;
    font-weight: 700;
    font-size: 1.4rem;
    width: 80%; 
    color: #3675B0;
    padding-top: 10%;
}
.five ul{
    width: 80%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 5%;
    padding-left: 40%;

}

.six{
    grid-row:4/10;
    box-shadow: 7px 7px 0px #E13535; 
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.six div{
    text-align: left;
    width: 80%;
    font-weight: 700;
    font-size: 1.4rem;
    width: 80%; 
    color: #E13535;
    padding-top: 10%;
}
.six ul{
    width: 70%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-top: 5%;
    padding-left: 10%;
    

}

.seven{
    grid-row:10/13;
    box-shadow: 7px 7px 0px #000000; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.seven div{
    text-align: left;
    width: 80%;
    font-weight: 700;
    font-size: 1.4rem;
    width: 80%; 
    color: black;
    padding-top: 3%;
}
.seven ul{
    width: 80%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-top: 3%;
    list-style: none;
    

}