body{
    margin: 0%;
    width: 1300px;
}
.h1 {
    text-align: center;
    font-family: M PLUS 1;
    font-size: 48px;
    color: #3E45E8 ;
    padding: 30px;
    font-weight: 400;
}
.h1span {
    color: #E8C23E ;
}
.baner {
    height: 800px;
    background-image: url("../img/image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 118px ;
    padding-top:200px ;

}
.content {
    height: 270px;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: "Inika";
    font-size: 48px;
    width: 80%;
    padding-left: 40px;
    color: white;
}
.h2 {
    font-family: "Inika";
    font-size: 40px;
    padding: 80px 0 0 80px;

}
.line {
    border-bottom: solid #3E45E8 5px ;
    width: 400px;
    margin-left: 80px;
}
.card {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    color: black;
    box-shadow: 0px 8px 12px rgb(0 0 0 / 50%);
    margin-left: 40px;
    border-radius: 30px;
    margin-top: 20px;
    
   }
.card_img {
     width: 100%;
    

}
.title_card {
    font-family: "Inika";
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
    padding-left: 20px;
    color: #1E8DF2;
}
.subtitle_card {
    font-family: "Inika";
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    box-sizing: border-box;
    padding-left: 20px;
    color: #E8C23E;
}
.subtitle_card_pading {
    font-family: "Inika";
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 25px;
    color:  #E8C23E;

}
.touch {
    position: absolute;
    left: 242px;
    top: 1380px
}
.h3 {
    text-align: center;
    font-family: "Inika";
    font-size: 40px;
    padding-top: 80px;
    

}
/* линию сделать по другому чтобы было возможно выстроить по центру */
.line_second {
    border-bottom: solid #3E45E8 5px;
    width: 400px;
    margin-left:445px ;    
}
.Ukraine {
    text-align: center;
    padding: 40px 0px;
}
/* лучше сделать кнопкой */
.button {
    background-image: url("../img/Rectangle 6.png");
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}
.button_txt {
    text-align: center;
    font-family: "Inika";
    font-size: 64px;
    padding-top: 20px;
    color: white;
}
.contacts {
   background-color: #2F4A4B;
   margin-top: 20px; 
}
.phone_post {
   font-family: Marcellus SC;
   font-size: 36px;
   font-weight: 400;
   line-height: 45px;
   text-align: center; 
   }
   a {
    color:#A89D9D ;
    text-decoration: none;
   }
   .h1_contact {
    text-align: center;
    font-family:  Marcellus SC;
    font-size: 48px;
    color: #3E45E8 ;
    padding: 30px;
    font-weight: 400;
   }
   .pading_tel{
    padding-top: 20px;
   }
   .social {
    text-align: center;
    
   }
   

