body{
    margin: 0;
}
header{
    width: 800px;
    height: 200px;
    border: solid 5px red;
    box-sizing: border-box;
    
}
.nav{
    width: 100px;
    height: 400px;
    border: solid 5px orange;
    box-sizing: border-box;
}
.section{
    width: 700px;
    height: 400px;
    border: solid 5px orange;
    box-sizing: border-box;
}
footer {
    width: 800px;
    height: 200px;
    border: solid 5px grey;
    box-sizing: border-box;
    
}
main{
    
    display:flex;
        
}
.section p{
    margin-left: 10px;
   
}