@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Poppins:wght@500;600&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
html{
    font-size: 10px;
}
.main{
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
header{
    position: sticky;
    top:0;
    background-color: #000000;
    height: 9rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}
.menu{
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 3.6rem;
    margin-left: 13rem;
}
.menu1 {
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.8rem;
}
.menu_third{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 45%;
}
.banner_one{
    background-color:#000000;
    height: 68rem;
    display: flex;
    justify-content: space-around;

}
.banner_one_section{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13rem;
}
.banner_one_title{
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 6rem;
    line-height: 6.8rem;
    
}
/* цвет точки */
.dot{
    color: #F6AD09;
}
.banner_one_content{
    color: #B2B2B2;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
}
.banner_one_button{
margin-top: 3rem;
}
.banner_one_img{
 margin-right: 10rem;
 margin-left: 5rem;
}
.banner_one_btn{
    width: 20rem;
    height: 5rem;
    background-color: #F6AD09;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.6rem;
    color: #332200;
    }
    .header_one{
        color:#111111;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 6rem;
        line-height: 6.8rem;
        margin-left: 13rem; 
        margin-top: 14rem;
        margin-bottom: 4.5rem;  
    }
    .bicycle{
        display: flex;
        justify-content: space-around;
        margin: 0 5rem;
    }
    .bike{
        width: 30%;
            }
    .bike_img{
        width: 100%;
    }       
    .list-txt{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 3rem;
        line-height: 4rem;
        position: relative;
        
    }
    /* вставка цветного прямоугольника */
    .list-txt::before {
        content:"" ;
        width: 22px;
        height: 10px;
        background-color: #F6AD09;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: .5rem;
    }
    .list-txt1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #595959;
    }
    .banner_two{
        background-color:#000000;
        height: 94rem;
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .banner_two_section{
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-left: 13rem;
    }
    .banner_two_subtitle{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 3.2rem;
        color:  #B2B2B2;
        margin-top: 10rem;
    }
    .banner_two_title{
        color: white;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 6rem;
        line-height: 6.8rem;
        margin-top: 1.8rem;
        margin-bottom: 6rem;
    }
    .banner_two_subtitle2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 3.2rem;
        color: #FFBB00;
        border-bottom:  #FFBB00 solid 4px ;
        width: 240px;
        margin-top: 3.5rem;
        margin-bottom: 7rem;
    }
    .banner_two_column{
        display: flex;
        justify-content: space-between;
        padding-right: 4rem;
        
    }
    .banner_two_column_title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 3.2rem;
        color: white;
        width: 47%;
    }
    .banner_two_column_content{
        width: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2.2rem;
        color: #B2B2B2;
        margin-top: 1.4rem;
        width: 100%;
      }
      /* желтый прямоугольник перед  */
    .banner_two_column_title::before {
        content:"" ;
        width: 22px;
        height: 10px;
        background-color: #F6AD09;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: .5rem;
    }
    .banner_two_img{
        margin-top: -10rem;
        margin-right: 3rem;
    }
    .brand{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 5rem;
    }
    .brand_card{
        width: 30rem;
        height: 10rem;
        border: #E0E0E0 solid 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem; 
        background-color: #FFFFFF;
    }
    .banner_three{
        height: 68rem;
        display: flex;
        background-color:  #FFBB00;
    }
    .banner_three_img{
        width: 49%;
        overflow: hidden;
    }
    
    .banner_three_txt{
        width: 51%;
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 900;
        font-size: 3.6rem;
        line-height: 4.8rem;
        color: #332200;
        position: relative;
                
    }
    .banner_three_sign{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #664400;
        margin-left: 7.5rem;
        margin-top: 1.7rem;
        

    }
    .banner_three_content{
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 900;
        font-size: 3.2rem;
        line-height: 4.3rem;
        color: #332200;
        margin-left: 7.5rem;
        margin-right: 14rem;
        margin-top: 30rem;
    }
    /* ковычка до */
    .quotes_before{
        position: absolute;
        top: 28rem;
        left: 3.5rem;
    }
    /* ковычка после */
    .quotes_after{
        position: absolute;
        top: 50rem;
        left: 52rem;
    }
    .banner_four{
        height: 74rem;
        background-color: #161616;
    }
    .banner_four_title{
        color: white;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 6rem;
        line-height: 6.8rem;
        margin-left: 13rem;
        padding-top: 7.3rem;

    }
    .banner_four_card{
        display: flex;
        justify-content: center;

    }
    .four_card{
       width:45rem ; 
       height:38rem ;
       background-color: #000000;
       border-radius: 7px;
       margin-left: 4rem;
       margin-top: 7rem;
       display: flex;
       justify-content: space-around;
    }
    .banner_four_card_title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.8rem;
        color: #9C9C9C;
        padding-left: 2.5rem;
        padding-top: 3.3rem;

    }
    .banner_four_card_list{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #FFFFFF;
    }
    .banner_four_card_btn{
        width: 17.7rem;
        height: 5.3rem;
        background: #2E2E2E;
        border-radius: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #CCCCCC;
        margin-top: 4rem;
      
}
.banner_four_card_button{
    padding-left: 2.5rem;
}
/* желтый прямоугольник */
.banner_four_card_list li::before {
    content:"" ;
    width: 1.5rem;
    height: .5rem;
    background-color: #F6AD09;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: .5rem;
}
/* сброс настроек списка по умолчанию */
.banner_four_card_list ul{
    margin: 0;
    padding: 0;
}
.banner_four_card_list li{
    list-style: none;
    padding-top: 1.8rem;
}
.banner_four_card_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #9C9C9C;
    text-align: end;
}
.banner_four_card_title1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.8rem;
    color: #FFFFFF;
    text-align: end;
    padding-top: 3.3rem;
    }
    .banner_four_card_list1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height:1rem;
        color: #FFFFFF;
    }
    /* желтый прямоугольник */
    .banner_four_card_list1 li::before {
        content:"" ;
        width: 1.5rem;
        height: .5rem;
        background-color: #F6AD09;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: .5rem;
         ;
    
    }
    .banner_four_card_list1 ul{
        margin: 0;
        padding: 0;
    }
    .banner_four_card_list1 li{
        list-style: none;
        padding-top: 1.8rem;}
        .banner_four_card_btn1{
            width: 17.7rem;
            height: 5.3rem;
            background: #2E2E2E;
            border-radius: 5px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: #CCCCCC;
            margin-top: 3.5rem;
        }
    /* изменение карточки при наведении курсора */
.four_card:hover{
    height: 45rem;
    margin-top: 3.6rem;
    transition-duration: 0.5ms;
    cursor: pointer;
    
}
.four_card:hover>div.banner_four_card_column>div.banner_four_card_title{
    color: #FFBB00;
    transition-duration: 0.5ms;
}
.four_card:hover>div.banner_four_card_column>div.banner_four_card_list1 li{
    line-height:2.2rem;
    transition-duration: 0.5ms;
}
.four_card:hover>div.banner_four_card_column>div.banner_four_card_list li{
    line-height:4.1rem;
    transition-duration: 0.5ms;
}
/* стиль footer */
footer{
    height: 47.5rem;
    background-color: #000000;
}
.footer_column{
    display: flex;
}
.footer_column_one{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 3.2rem;
    color: white;
    margin-top: 5.5rem;
    margin-left: 20rem;
}
.footer_column_two{
    margin-top: 6.6rem;
    margin-left: 18rem;
}
.footer_column_two_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: white;
}
.footer_column_two_phone{
    width: 23rem;
}
/* изменение свойств отображения ссылки */
a[href*="tel"]{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #B2B2B2;
    text-decoration: none;
}
a[href*="mailto"]{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #B2B2B2;
    text-decoration: none;
}
.footer_column_two_adress{
    width: 23rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #B2B2B2;
    margin-top: 3rem;
}
.footer_column_three_social{
    margin-top: 2rem;
}
/* отступ между ссылками на соцсети */
#margin{
    margin-right: 3.2rem;
}
.footer_column_three{
    margin-top: 6.6rem;
    margin-left: 20rem;
}
.footer_column_three_list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #B2B2B2;
}
/* изменение цвета li списка при наведении курсора */
.footer_column_three_list li:hover{
    color: #FFBB00;
    transition-duration: 0.5ms;
    cursor: pointer;
}
.footer_column_three_list li{
    list-style: none;
}
.footer_column_three_list ul{
    margin: 0;
    padding: 0;
}

.reserved{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #9C9C9C;
    margin-top: 7rem;
    margin-left: 20rem;
}




          
    






    

    


    



    