body {
    width: 1024px;
    height: 3452px;
    background: #FFFFFF;
    margin: 0%;


}
/* стили написаны некорректно в плане отступов 
элементов т.к макет взят за аксиому */

.header {
position: absolute;
width:299px;
font-family: 'KingsBureauGrot';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.25px;
color: #000000;
margin: 23px 700px 18px 25px;
}

.header2 {
   
    position: absolute;
    width:299px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 377px;
    margin-top: 742px;
    
}
.header3 {
    position: absolute;
    width:299px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 760px;
    margin-top: 1462px;
    
}
.header4 {
    position: absolute;
    width:299px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 377px;
    margin-top: 2029px;
    
}
.header5 {
    position: absolute;
    width:299px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 24px;
    margin-top: 2554px;
    
}
.header6 {
    position: absolute;
    width:299px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 24px;
    margin-top: 2872px;
}
.header7 {
    position: absolute;
    width:299px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 436px;
    margin-top: 3231px;
}
.subtitle {
    position: absolute;
    width: 550px;
    height: 24px;
    margin-top: 720px;
    margin-left: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #333333;  
}
.subtitle1 {
    position: absolute;
    width: 551px;
    height: 24px;
    margin-top: 1976px;
    margin-left: 236px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #333333;
    text-align: center;  
}
.subtitle2 {
    position: absolute;
    width: 600px;
    height: 24px;
    margin-top: 2810px;
    margin-left: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #333333;
      
}

.foto1 {
    position: absolute;
    width: 1023px;
    height: 652px;
    margin-top: 66px;
    margin-left: 25px; 
   
}
.foto2 {
    position: absolute;
    width: 1023px;
    height: 652px;
    margin-top: 790px;
    margin-left: 25px; 
   
}
    
.foto3 {
    position: absolute;
    width: 766.99px;
    height: 489.52px;
    margin-top: 1487px;
    margin-left: 146px; 
     
}
.foto4 {
    position: absolute;
    width: 766.99px;
    height: 489.52px;
    margin-top: 2054px;
    margin-left: 146px;  
}
/* прописано чтобы не выходить за пределы родительского элемента */
.city_foto {
    width: 100%;
}
.horizontal_foto {
    background-image: url("../img/image\ 7.png");
    background-repeat: no-repeat;
    height: 237px;
    width: 1453px;
    margin-top: 2586px;
    margin-left: -20px;
    position: absolute;
    
}
/* округление radius */
.circular_foto {
    position: absolute;
    margin-top: 3274px ;
    margin-left: 437px;
  

}
/* линия border */
.line {
    border-bottom: 8px solid #0A2D50;
    width: 654px;
    margin: 210px 0 0 44px;
    
   
}
.list {
    position: absolute;
    margin-top: 2915px ;
    margin-left: 30px;
    width: 398px;
}